{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "htmlWhitespaceSensitivity": "ignore",
  "css": {
    "printWidth": 80
  },
  "js": {
    "parser": "babel"
  }
}
