* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

main {
    background: url(https://media.istockphoto.com/id/588575014/photo/bluethroat-singing-in-a-rape-field.jpg?s=2048x2048&w=is&k=20&c=tP3wKwptQr8096FK-7H1LffAJfnCbXt7S1sdHLp9BFE=);
    background-size: cover;
    padding: 2%;
    font-size: larger;
    color: rgb(244, 11, 42);
}

strong,
h1 {
    color: blue;
}