/* Primary donate button */
.donate-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    background-color: #3498db; /* Primary color */
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #2980b9; /* Slightly darker border */
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, box-shadow 0.2s;
    position: relative;
    cursor: pointer;
    margin-top: 10px;
}

.donate-button:hover {
    background-color: #2980b9; /* Darker shade for hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.donate-button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: border-color 0.3s ease, transform 0.3s ease;
    transform: scale(0.9);
}

.donate-button:hover::before {
    border-color: #2980b9;
    transform: scale(1);
}

.donate-button svg {
    fill: white;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

/* Secondary donate button with dark theme */
.donate-button2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    background-color: #2c3e50; /* Dark theme color */
    color: white; /* White text */
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    border: 1px solid #34495e; /* Darker border */
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s, box-shadow 0.2s, border-color 0.3s;
    position: relative;
    cursor: pointer;
}

.donate-button2:hover {
    background-color: #1a252f; /* Darker shade on hover */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}

.donate-button2::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: border-color 0.3s ease, transform 0.3s ease;
    transform: scale(0.9);
}

.donate-button2:hover::before {
    border-color: #0078d4;
    transform: scale(1);
}

.donate-button2 svg {
    fill: white;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

/* Submit button with the same primary color */
.submit-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    background-color: #3498db;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid #2980b9;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s, box-shadow 0.2s;
    position: relative;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #2980b9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

.submit-button::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: border-color 0.3s ease, transform 0.3s ease;
    transform: scale(0.9);
}

.submit-button:hover::before {
    border-color: #2980b9;
    transform: scale(1);
}

.submit-button svg {
    fill: white;
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
