/* Basic Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  color: #333;
  line-height: 1.6;
  background-color: #f5f5f5;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: #28a745;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form-section {
  margin-bottom: 20px;
}

label {
  vertical-align: middle;
  margin-right: 8px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  margin: 0;
  position: relative;
  top: -1px; /* Adjusts the position slightly upwards */
}

button.btn-primary {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button.btn-primary:hover {
  background-color: #28a745;
}

a {
  color: #28a745;
  text-decoration: underline; /* Make links underlined by default */
}

a:hover {
  text-decoration: none;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    width: 90%;
    padding: 10px;
  }
}
