/*-----------------------------------*\
  #Event Modal
\*-----------------------------------*/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 5% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 600px; /* Maximum width */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.modal-header {
  border-bottom: none;
}

.modal-header h2 {
  margin: 0;
  color: var(--green);
  font-family: var(--ff-oswald);
  font-size: 3.2rem;
}

.modal-header{
  font-size: 1.5em;
  background-color: #212121;
  cursor: pointer;
}
#eventDate {
  font-size: 18px;       
  color: green;         
  font-weight: bold;      
  margin-bottom: 10px;    
  background-color: #f0f8ff;  
  padding: 5px 15px;     
  border-radius: 5px;     
  display: inline-block;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.modal-body {
  padding: 20px;
}

.modal-body p {
  margin: 10px 0;
  color: var(--dark-gray); 
}

.location{
  font-weight: bold;
  font-size: 20px;
  
} 

.modal-body iframe {
  border: none;
  border-radius: 8px; /* Match the card's rounded corners */
}

.event-info {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 20px;                       
  margin-top: 20px;   
  background-color: #212121; 
  padding: 20px;  
  border-radius: 10px;         
}

.contact-details h3, .share-event h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.contact-details p {
  font-size: 12px;
  margin-bottom: 4px;
  color: white;
}

/* Social links */
.share-event .social-link {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  color: green;
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-details h3, .share-event h3{
  font-weight: bold;
}

/* Responsive design: Stack columns on smaller screens */
@media (max-width: 768px) {
  .event-info {
      grid-template-columns: 1fr;  /* Switch to one column */
  }
}


.social-link {
  display: inline-block;
  margin: 5px 0;
  font-size: 1em;
  color: var(--primary-color); /* Use a consistent link color */
  text-decoration: none;
}

.social-link i {
  margin-right: 5px;
}

.social-link:hover {
  text-decoration: underline;
}